
body {
    font-family: 'Nunito';
    padding-top: 50px;
}

body {
    padding-top: 5rem;
}

table{
    margin-top: 50px;
}

.endpoint {
    margin-top: 65px;
}

.documentation-header {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

pre {
    margin-bottom: 0px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 10px;
    margin-bottom: 0px;
}

.sample-request {
    margin-top: 25px;
    margin-bottom: 0px;
}

.sample-response {
    margin-top: 0px;
    margin-bottom: 0px;
}
