---
version: "2"
services:
  larastore:
    image: {{ IMAGE_NAME }}
    container_name: larastore
    environment:
      - DB_HOST=larastore_db
      - DB_USERNAME={{ DB_USERNAME }}
      - DB_PASSWORD={{ DB_PASSWORD }}
      - DB_DATABASE={{ DB_NAME }}
    ports:
      - {{ PORT }}:8000
    restart: unless-stopped
    depends_on:
      - larastore_db
  
  larastore_db:
    image: mariadb:latest
    container_name: larastore_db
    environment:
      - PUID=1000
      - PGID=1000
      - MYSQL_ROOT_PASSWORD={{ DB_PASSWORD }}
      - TZ=Europe/Amsterdam
      - MYSQL_DATABASE={{ DB_NAME }}
      - MYSQL_USER={{ DB_USERNAME }}
      - MYSQL_PASSWORD={{ DB_PASSWORD }}
    volumes:
      - db_conf:/config
    restart: unless-stopped

volumes:
  db_conf: